*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none !important;
	color: #000000 !important;
}
html{
	font-family: sans-serif !important;
}
body{
	background: url(../img/4/bg_fukulabo_lp_pc.jpg);
	background-size: cover;
}
img{
	vertical-align: middle;
	width: 100%;
}
.header{
	margin-top: 3%;
}

.header-left{
	width: 30%;
	text-align: center;
}
.header-left li:nth-child(1) img{
	width: 40% ;
}
.header-left li:nth-child(2) img{
	width: 20% !important;
}
.header-left li:nth-child(3) img{
	width: 80% !important;
}
.header-left li:nth-child(4) img{
	width:40% !important;
}
.header-left li{
	display: inline-block;
	width: calc(95% / 4);
	background: transparent;
	transition: all 1s ease;
}
.header-left li:hover{
	opacity: 0.3;
}
.header p{
	width: 10%;
	position: absolute;
	left:47%;
	top: 3%;
}
.header p img{
	width: 60%;
}
.header-right{
	width: 30%;
	position: absolute;
	right: 5% ;
	top: 3%;
}
.header-right li{
	display: inline-block;
	width:calc(98% / 8);
	margin: 0 auto;  
    height: 140px;  
    writing-mode: vertical-lr; 
    font-family: sans-serif;
}
.content{
	margin-top: 8%;
	text-align: center;
}
.content p{
	width: 12%;
	margin: 0 auto;
}
.text{
	margin: 4.5% 0;
}
.content_font{
	padding: 4% 0;
}
.content_font font{
	display: block;
	font-size: 17px;
	font-weight: bold;
	padding: .5% 0;
}
.luck_top{
	width: 85%;
	border: 1px solid black;
	padding: 1% 2.5%;
	border-radius: 4px;
	margin: 0 auto;
}
.luck_top_in{
	border: 1px solid black;
	border-radius: 4px;
	padding: 2%;
	
}
.luck_top_in h1{
	border-right: 1px dotted black;
	text-align: right;
	padding: 2%;
}
.luck_top_in h1 small{
	font-size: 16px;
	color: black;
	display: block;
}
.luck_top_in ul{
	padding: 3.5% 0 0 2%;
}
.img_1 img{
	width:55%;
	vertical-align: middle;
	margin: 0 auto;
}
.img_1{
	padding-top: 5%;
	margin: 0 auto;
	margin-left: 10% !important;
}
.img_1 font{
	display: block;
	margin: 1% 0;
	font-size: 13px;
}
.img_1 ul{
	margin-top:5% ;
}
.yang{
	width: 85%;
	margin-left: 15% !important;
	margin: 0 auto;
	margin-top: 10% !important;
	
}
.yang_1{
	border: 1px solid black;
	padding: 2% 1%;
	border-radius: 4px;
	text-align: center;
	
}
.yang_1 p{
	width: 30%;
	margin: 0 auto;
	margin-bottom: 8%;
}
.yang_1 img{
	width: 100%;
}
.s_yang_1{
	border: 1px solid black;
	border-radius: 4px;
	padding: 15% 0;
}
.yang_1 font{
	display: block;
	margin: 2% 0;
}
.shop span{
	display: block;
	width: 80%;
	margin: 0 auto;
}
.shop img{
	width: 100%;
}
.shop font{
	display: block;
	margin: 1% 0;
}
.shop select{
	width: 15%;
	padding: 3%;
	background: transparent;
	margin-top: 2%;
}
.shop input{
	width: 25%;
	padding: 3%;
	font-size: 12px;
	border: 1px solid black!important;
	background: transparent;
}
.movie{
	margin: 5%;
}
.movie p{
	width: 30%;
	margin: 0 auto;
	
}
.movie p:hover{
	opacity: .75;
}
.movie img{
	width: 100%;
	height: 650px;
	
}
.bottom{
	text-align: center;
	padding: 2% 0;
	font-size: 13px;
}
.bottom a{
	transition: all 0.6s ease;
}
.bottom a:hover{
	opacity: 0.4;
}
.bottom ul:nth-child(2){
	margin-top: 2%;
}
