*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none !important;
	color: #000000 !important;
}
html{
	font-family: sans-serif !important;
}
img{
	vertical-align: middle;
	width: 100%;
}
.header{
	margin-top: 3%;
}

.header-left{
	width: 30%;
	position: absolute;
	left: 10%;
}
.header-left li{
	display: inline-block;
	padding: 2%;
	width: calc(84% / 4);
}
.header p{
	width: 6%;
	position: absolute;
	left: 47%;
}
.header-right{
	width: 30%;
	position: absolute;
	right: 5% ;
}
.header-right li{
	display: inline-block;
	width:calc(98% / 8);
	margin: 0 auto;  
    height: 140px;  
    writing-mode: vertical-lr; 
    font-family: sans-serif;

}
.banner{
	padding-top: 10%;
	width: 80%;
	margin: 0 auto;
}
.shop{
	margin: 0 auto;
}
.shop li{
	padding: 2%;
	position: relative;
}
.showImg span{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding: 2%;
}
.showImg:hover span{
	display: block;
	transform: scale(0.87);
	transition: all 1s ease;
}
.shop font{
	display: block;
	padding: 3% 0;
}
.shop input{
		display: inline-block;
	  	font-size: 13px;
	  	background: rgb(255,255,255);
	  	border: 1px solid #000000;
	  	padding: 4% 6%;
	  	margin-left: 5%;
	  	border-radius: 4px;
	  }
.shop select{
	display: inline-block;
	padding: 4% 6%;
}
.kodawari-item__title {
  position: relative;
  float: left;
  font-weight: normal;
  font-size: 10px;
  padding: 0 14px 5px;
  margin-bottom: 20px;
}
.kodawari-item__title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border: 1px solid #231815;
  border-top: none;
}
.big-bottom{
	margin: 0 auto;
	border-top: 1px solid black;
	margin-top: 70px;
}
.bottom{
	padding: 0 5%;
}
.bottom .si{
	width:100%;
}
.bottom .si .top{
	padding-left: 1.7%;
}
.bottom .si .row div img{
	width: 100%;
}
.bottom .si .row .four{
	background: url(../img/b4.png) no-repeat;
	background-size: 100% 100%;
}
.bottom .si .row .four{
	padding: 40px 20px;
	margin-top: -30px;
	text-align: center;
}
.bottom .alert {
	padding: 0;
}
.bottom .alert h3{
	font-size: 25px;
	color: #666;
	font-family: 楷体;
	padding-left: 1.5%;
}

.bottom .alert .si .wenzi{
	padding: 50px 0;
}
.bottom .alert .si .wenzi p{
	line-height: 24px;
	font-family: 宋体;
	font-size: 13px;
}
.bottom .alert .si .wenzi .red a{
	color:darkred ;
}
.bottom .alert .si .wenzi .red a:hover{
	text-decoration: none;
}
.bottom .alert .si .wenzi .red:hover{
	opacity: .5;
	transition: all .5s ease;
}
.bottom .alert .si .wenzi .red em{
     display:inline-block;
    width:0;
    height:0;
    margin-right: 5px;
    border-width:7px 0 7px 7px;
    border-style:solid;
    border-color:transparent transparent transparent darkred;
}
.bottom .alert .si .wenzi table td{
	border: 1px solid #666;
	padding:  8px 27px 8px 8px;
	font-size: 10px;
}
.bottom .alert .si .wenzi table tr:first-child{
	background: #ccc;
}



.bottom .er{
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.bottom .er img:hover{;
	opacity: .5;
	transition: all .6s ease;
}
.bottom .er img{
	display: inline-block;
	padding: 4%;
}

 .three .row div:hover{
 	opacity: .5;
 	transition: all 1s ease;
 }
 .three .row div{
	padding: 10px 0 10px 0;
}
 .three .row:last-child {
	padding-top: 0!important;
	padding: 0 10%;
	padding-bottom: 10px;
}
 .three .row div a{
 	text-decoration: none;
 	color: black;
 }
